################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plugins/StopCaseResolutionTests/StopCaseResolution.Tests/bin/Debug/net462
/Plugins/StopCaseResolutionTests/StopCaseResolution.Tests/obj
